@{
    ViewData["Title"] = "Bienvenidos A";
}

    <div class="container1 mt-5 text-center d-md-block">
  <div class="row">
    <div class="col-12 col-md-6 col-lg-4 p-5">
        <div class="card border-0">
            <img src="~/Imagenes/img1.jpg" class=" imagen1" alt="">
            </div>
    </div>
    <div class="col-12 col-md-6 col-lg-4 p-5">
        <span class="border border-info-subtle">

            <form class="formulario">

               <h1>El Balcon de Marifer</h1>
        
        <h2>BIENVENIDOS</h2>

        <center><p>
          ¿Buscas algo nuevo? ¡Ven y disfruta de una experiencia gastronómica
          inolvidable, descubre sabores y platos exquisitos en nuestro restaurante!
        </p></center>

        <h3>RESERVA YA</h3>

  <div class="form-floating mb-3 contend">
    <label for="exampleInputNombre1" class="form-label">Nombre y Apellido</label>
    <input type="text" class="form-control mb-3" id="exampleInputNombre1" placeholder="Escribe tu Nombre y Apellido">
  </div>
  <div class="form-floating mb-3 contend">
  <label for="exampleInputEmail1" class="form-label">Email</label>
    <input type="email" class="form-control mb-3" id="exampleInputEmail1" placeholder="Escribe tu Email">
  </div>
   <div class="form-floating mb-3 contend">
    <label for="exampleInputPassword1" class="form-label">Contraseña</label>
    <input type="password" class="form-control mb-3" id="exampleInputPassword1" placeholder="Escribe tu Contraseña">
  </div>
   <div class="form-floating mb-3 contend">
    <label for="exampleInputTelefono1" class="form-label">Telefono</label>
    <input type="tel" class="form-control mb-3" id="exampleInputTelefono1" placeholder="Escribe tu Numero" >
  </div>
   <div class="form-floating mb-3 contend">
    <label for="exampleInputNumero1" class="form-label">Adultos</label>
    <input type="number" class="form-control mb-3" id="exampleInputNumero1" placeholder="Cantidad">
  </div>
  <div class="form-floating mb-3 contend">
    <label for="exampleInputNumero1" class="form-label">Niños</label>
    <input type="number" class="form-control mb-3" id="exampleInputNumero1" placeholder="Cantidad">
  </div>
  <div class="form-floating mb-3 contend">
  <label for="exampleInputFecha1" class="form-label"></label>
    <input type="date" class="form-control mb-3" id="exampleInputFecha1" placeholder="Fecha de Reserva">
  </div>
  <div class="form-floating mb-3 contend">
    <label for="exampleInputComentario1" class="form-label">Comentario</label>
    <input type="text" class="form-control mb-3" id="exampleInputComentario1" placeholder="Haz un Comentario">
  </div>
  
  <button type="submit" class="btn btn-success">Solicitar Reserva</button>
</form>
</span>
    </div>
    <div class="col-12 col-md-6 col-lg-4 p-5">
            <img src="~/Imagenes/img2.jpg" class="imagen2" alt="">
          </div>
    </div>
</div>

        
